*before,
*after{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    background-color: blue;
    font-family:'Times New Roman', Times, serif;
}



li{
    list-style-type: none;
}
label .menu
{
    margin-left:175vh;
position: fixed;
right:-100px;
top:-114px;
z-index:100;
width:210px;
height:210px;
background-color:transparent;
border-radius:50% 50% 50% 50%;
filter:blur();
cursor:pointer;
text-align: left;
transition: 0.5s ease-in-out;
}


label .hamburger{

    position:absolute;
    top:135px;
    left:50px;
    width:30px;
    height:1px;
    background-color:#fff;
    display: block;
    transform-origin: center;
    transition:0.9s ease-in-out;
}

label .hamburger:after
{
    content:" ";
    position:absolute;
  display: block;
    width:100%;
    height:100%;
    background-color:#fff ;
  
}

label .hamburger:before{
    content:" ";
    position:absolute;
  display: block;
     width:100%; 
    height:100%;
    background-color:#fff ;
}

label .hamburger:before{
    top:-10px;
    transition: 0.6s;
}

label .hamburger:after{
    bottom:-10px;
    transition: 0.6s;
}

label input{
    display: none;
}
label input:checked + .menu{
    box-shadow:0 0 0 100vw rgba(0,0,0,0.955);
    border-radius: 0;
    background-color:rgba(0,0,0,0.955);
}
label input:checked + .menu .hamburger{
    transform: rotate(45deg);
}
label input:checked + .menu .hamburger:after{
    transform: rotate(90deg);
    bottom:0;
}
label input:checked + .menu .hamburger:before{
    transform: rotate(90deg);
    top:0;
}
label input:checked + .menu + ul{
    opacity: 1;
}
label input:checked + .menu + ul{
    opacity: 1;
}
label ul{
    z-index:200;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    opacity: 0;
    transition: 0.30s 0s ease-in-out;
     
}
label a{
    margin-bottom: 1.2em;
    font-size:20px;
    display:block;
    letter-spacing: 3px;
    color:whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding:12px 36 px;
    font-weight:bold ;
    transition: 0.4s ease-in-out;

}
label a:hover{
    background-color:red;
    color:#fff;
    border-radius: 3px;
    letter-spacing:3px;

}





#icons{
    height:34px;
    width:34px;
    display:flex;
    flex:vertical;
    position: absolute;
    
    opacity:0;
     margin-left:43.5% ;
     margin-top: 38%;
    /* margin-bottom:50%; */
    z-index:1;
    }
#icons.active{

    opacity: 1;
    z-index:100000;
}
#button:hover{
    background-color: papayawhip;
    transition: 0.6s,0s ,ease-in-out;
    width:14vw;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
#button{
    background-color:transparent;
    margin-top:-140px;
width:15vw;
height:5vh;
font-size: 20px;
border-color: transparent;
text-align: left;
color:whitesmoke;
margin-left: 5%;
position:absolute;
border-radius: 6px;
transition: 0.6s,0s ,ease-in-out;
/* right:0%; */

}
.ticket{
    margin-top:-150px;
    position:relative;
   right:30%;
}



.iconsubclass
{
    /* left:100vw;   */
    margin-left:15px;
    margin-right: 16px;
    height:34px;
    width:34px;
    text-decoration: none;   
}
.iconsubclass:hover
{
    margin-left:15px;
    margin-right: 16px;
    height:34px;
    width:34px;
    background-color: transparent;   
}
.menuicon{
    text-align: right;
}


header
{
    overflow: hidden;
    height: 100vh;
}




.vid-bg
{
    opacity: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.nav-area
{
    background-color: transparent;
    
    height: 60px;
    position: absolute;
    width: 100%;
}
.logo
{
    margin: 10 50px;
    height: 60px;

    float: left;
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 3px;
}
.logo span
{
    color: white;
}
.menu-area{
    float: right;
    list-style: none;
    margin: 20px;
}
.menu-area li{
    display: inline-block;
    margin: 0 5px;
}
.menu-area li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 2px;
}
.menu-area li.active a{
    color:#f5bb00 ;
}
.menu-area li a:hover
{
    color: #f5bb00;
}
.banner-text
{
    position: absolute;
    top: 25%;
    text-align: center;
    left: 35%;
    letter-spacing: 3px;
}
.banner-text h2{
    color: #fff;
    font-size: 80px;
    margin: 0;
 
    
}
.banner-text h2 span
{
    color: #fff;
 

}
.banner-text h3{
    color: #fff;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
 }
.btn{
    display: inline-block;
    margin-top: 10%;
    margin-left: 0%;
    background: transparent;
    border: 0;
    font-size: 20px;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 10px 25px;
    color: #fff;
    border-radius: 15px;
    outline: none;
}
.btn:hover
{
    background-color: rgba(0,0,0,0.8);
    color: whitesmoke;
}



/* timer */



h1 span{
    display:inline-block;
    animation:animate 1s linear infinite;
}
   #clockdiv{ 
      
      position:relative;
      
      margin-left:41vw;
      margin-top: 47vh;
      
      color:wheat; 
      display: inline-block; 
      font-weight: 100; 
      text-align: center; 
      font-size: 18px; 
  
  
    }
    #clockdiv.active{
        opacity:0.4;
        transition: 0.3s,0s,ease-in-out;
    } 
  #clockdiv > div{ 
      
      padding: 10px; 
      border-radius: 3px; 
      /* background: orange;  */
      display: inline-block; 
      
      text-align: center; 
  
  } 
  #clockdiv div > span{ 
    background-position-x: center;
      padding: 10px; 
      padding-bottom: 1px;
      height:40px;
      width:32px;
      border-radius: 3px; 
      background: rgba(0,0,0,0.8); 
      display: inline-block; 
      
      
      box-shadow:5px;
      text-align: center; 
  } 
  .smalltext{ 
      padding-top: 0px; 
      font-size: 15px; 
      position: relative;
      top:-15px;
  } 
/* timer ends */